<launch>
    <arg name="map_filename" value ="ige_real_4_fullrange" />
    <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
        <arg name="map_file" value="/catkin_ws/src/navigation/mapping/$(arg map_filename).yaml"/>
        <arg name="scan_topic" value = "/base_scan" />
    </include>
    <param name="map_filename" value="$(arg map_filename)"/>
    <node pkg="local_path_planner" type="move_robot_base.py" name="fetch_move_base_node" output="screen"></node>


    <node pkg="local_path_planner" type="move_head.py" name="move_head_node" output="screen"></node>
    <node pkg="semantic_localization" type="localize.py" name="semantic_localize_server_node" output="screen"></node>
    <node pkg="receptacle_navigator" type="receptacles_navigation.py" name="receptacle_navigation_server_node" output="screen"></node>
    <node pkg="room_graph_navigator" type="object_room_navigator.py" name="object_room_navigation_server_node" output="screen"></node>
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d /catkin_ws/src/navigation/rviz_file.rviz" /> -->
</launch>