<launch>
    <!-- <include file="$(find navigation_bringup)/launch/navigation_launch.launch" ns="navigation"/> -->
    <!-- <include file="$(find manipulation)/launch/manipulation_launch.launch"/> -->
    <node pkg="tidy_module" name="tidy_services" type="tidy_services.py" output="screen" />

</launch>